<div id="<%= dom_id tournament %>">
  <p>
    <strong>Name:</strong>
    <%= tournament.name %>
  </p>

  <p>
    <strong>Grade:</strong>
    <%= tournament.grade %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= tournament.start_date %>
  </p>

</div>
