<div id="<%= dom_id tournament %>">
  <p>
    <strong>トーナメント名:</strong>
    <%= tournament.name %>
  </p>

  <p>
    <strong>グレード:</strong>
    <%= tournament.grade %>
  </p>

  <p>
    <strong>開始日:</strong>
    <%= tournament.start_date %>
  </p>

</div>
