<p style="color: green"><%= notice %></p>

<h1>トーナメント一覧</h1>

<div id="tournaments">
  <% @tournaments.each do |tournament| %>
    <%= render tournament %>
    <p>
      <%= link_to "詳細", tournament %>
    </p>
  <% end %>
</div>

<%= link_to "トーナメントを追加", new_tournament_path %>
