<%= render @tournament %>

<div class="d-flex gap-2">
  <%= render "back_to_index" %>
  <%= link_to "トーナメントを編集", edit_tournament_path(@tournament), class: "btn btn-outline-primary ms-auto" %>
  <%= button_to "トーナメントを削除", @tournament, method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger ms-auto" %>
</div>
